/* global styles */
*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    height: 100%;
}
body{
    scroll-behavior: smooth;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 400;
    font-family: 'Roboto','Arial', sans-serif;
}
.container{
    width: 100%;
    max-width: 1040px;
    padding: 0 2rem;
    margin: 0 auto;
}
/* /global styles */



/* HEADER SECTION */
.header {
    margin-top: 3rem;
    margin-bottom: 9.2rem;

}
.navigation {
    display: flex;
    align-items: center;

}
.header-logo-link {
}
.header-logo-img {
}
.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    margin-left: auto;
}
.nav-list-item:not(:last-child) {
    margin-right: 3rem;
}
.nav-list-item:last-child{
    margin-right: 4rem;

}
.nav-list-item-link{
    font-weight: 400;
    line-height:2.25rem;
    text-decoration: none;
    color: #333;
}
.help {
    position: relative;
    font-weight: 400;
    line-height:2.25rem;
    text-decoration: none;
    color: #333;
    text-decoration: none;
}
.line::after{
    content: "";
    background-color: #333;
    height: 1px;
    width:100%;
    left: 0;
    bottom: -6px;
    position: absolute;

}

/* MAIN SECTION */
.main {
}
.hero {
    width: 1147px;
    height: 567px;
    background-image: url(../photos/watch.jpg);
    background-repeat: no-repeat;
    background-position: right;
    border-bottom: 1px #DDDDDD solid;
}
.hero-wrap {
}
.hero-wrap-title {
    font-weight: 700;
    font-size: 5rem;
    line-height: 6rem;
    color: #000;
    padding-top: 88px;
    margin-bottom: 3rem;
}
.hero-wrap-text {
    width: 450px;
    height: 120px;
    font-size: 1.6rem;
    line-height: 2.4rem;
    color: #777;
    margin-bottom: 3rem;
    margin-left: 4.2rem;
    position: relative;
}
.vertical-line::before {
    content: "";
    width: 0.3rem;
    height: 120px;
    left: -40px;
    bottom: 0;
    position: absolute;
    background-color: #888888;

}
.hero-btn {
    font-weight: 700;
    font-size: 1.8rem;
    line-height: 2.7rem;
    color: #fff;
    padding: 1.2rem 3.85rem;
    text-transform: uppercase;
    background-color:  #EA625C;
    border: none;
}
.hero-img {
}